<mat-tab-group headerPosition="below" mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab label="Players">
        <div class="tab-container">
            <div *ngIf="!!table" class="player-slider-container" slider container="player-slider-container"
                slide="player-slide">
                <div class="player-slide" *ngFor="let sheet of table.playerSheets; let i = index">
                    <app-sheet [sheet]="sheet" [dm]="table.dmEmail"
                        (updateValuesEvent)="updatePlayerSheetTable($event, i)"
                        (deleteSheetEvent)="deletePlayerSheetTable(i)"></app-sheet>
                </div>
            </div>
            <div class="has-no-content" *ngIf="table.playerSheets.length < 1">
                <h3>There's no Sheets at this moment</h3>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="NPCs" *ngIf="verifyIfHavePermission()">
        <div class="tab-container">
            <div *ngIf="!!table" class="npc-slider-container" slider container="npc-slider-container" slide="npc-slide">
                <div class="npc-slide" *ngFor="let sheet of table.masterSheets; let i = index">
                    <app-sheet [sheet]="sheet" [dm]="table.dmEmail"
                        (updateValuesEvent)="updateMasterSheetTable($event, i)"
                        (deleteSheetEvent)="deleteMasterSheetTable(i)"></app-sheet>
                </div>
            </div>
            <div class="has-no-content" *ngIf="table.masterSheets.length < 1">
                <h3>There's no Sheets at this moment</h3>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Notes" *ngIf="verifyIfHavePermission()">
        <div class="tab-container">
            <app-notes [table]="table"></app-notes>
        </div>
    </mat-tab>
</mat-tab-group>

<div class="button-add" *ngIf="verifyIfHavePermission()">
    <button mat-fab color="primary" (click)="addSheet()">
        <mat-icon>add</mat-icon>
    </button>
</div>