.title-session {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
}

.login-session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    mat-icon {
        margin-bottom: 10px !important;
        margin-left: 10px !important;
    }
}