<div class="container">
    <div class="card-container">
        <mat-card *ngFor="let table of $tables | async" (click)="openTableDetails(table.id); $event.stopPropagation()">
            <mat-card-title>{{ table.name }}</mat-card-title>
            <mat-card-subtitle *ngIf="userEmail === table.dmEmail">DM</mat-card-subtitle>
            <mat-icon color="warn" *ngIf="userEmail === table.dmEmail"
                (click)="deleteTable(table.id); $event.stopPropagation()">delete</mat-icon>
            <div class="player-num flex flex-end">
                <div>
                    <span *ngIf="showAdditionalPlayers(table.playerSheets)">+{{ table.playerSheets.length - 5 }}</span>
                    <img *ngFor="let sheet of table.playerSheets | slice:0:5" [src]="icons[sheet.charIcon]">
                </div>
            </div>
        </mat-card>
        <div class="has-no-tables" *ngIf="!hasTables">
            <h3>There's no tables at this moment</h3>
        </div>
    </div>
    <div class="button-add">
        <button mat-fab color="primary" (click)="addTable()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>