<div [ngClass]="{
    'flex': true,
    'w100': !verticalAlign,
    'number-input-container-horizontal': !verticalAlign,
    'flex-column': verticalAlign,
    'number-input-container-vertical': verticalAlign
}">
    <div class="container-form-field">
        <mat-form-field appearance="fill" class="w100">
            <mat-label>{{ label }}</mat-label>
            <input matInput autocomplete="off" [formControl]="formField" readonly>
        </mat-form-field>
    </div>
    <div class="container-buttons">
        <div [ngClass]="{ 'flex': true, 'h100': true, 'flex-column': !verticalAlign, 'flex-row': verticalAlign }">
            <button class="arrow-button arrow-button-alignment" matRipple (click)="up()" *ngIf="!formField.disabled">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button class="arrow-button arrow-button-alignment" matRipple (click)="down()" *ngIf="!formField.disabled">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </div>
</div>