.loading-spinner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgb(204 204 204 / 70%);
    z-index: 999;
}