.mat-chip-container {
    background-color: #ebebf7;
    border-radius: 8px 9px 0 0;
    border-bottom: 2px solid #CCC;
    min-height: 70px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}