<div class="mat-chip-container">
    <mat-chip-list>
        <mat-chip *ngFor="let chip of controls; let i=index">
            <span>{{ chip.get('input')?.value }} {{ chip.get('auxInput')?.value }}</span>
            <mat-icon class="delete-button" (click)="removeChip(i); $event.stopPropagation()">close</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>
<div class="flex flex-end">
    <button mat-flat-button color="primary" (click)="raiseInput()">
        <mat-icon>add</mat-icon>
    </button>
</div>