@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
}

input {
    outline: none;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}